.header-logo{
    display: block;
    margin: 0 auto;
    width: 263px;
    height: 100%;
}

p{
    font-size:12px;
}

.no-found {
    font-size: 1.5em;
    color: gray;

}


// .delete-tag::after{
//     content:"";
//     background-image: url("../../public/assets/icons/close-icon.png");
//     width: 20px;
//     height: 20px;
// } 
